.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #0d6efd;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
  z-index: 1050; /* encima del contenido */
}

.sidebar .nav-link {
  color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  margin: 3px 0;
  transition: all 0.3s ease;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  background-color: #0b5ed7;
  color: #fff;
}

.sidebar .bi {
  font-size: 1.2rem;
}
.sidebar-collapsed {
  transform: translateX(-100%);
}

/* Fondo gris claro del contenido principal */
body {
  background-color: #f8f9fa;/* gris claro */
}

.main-content {
  margin-left: 250px;
  padding: 2rem;
  min-height: 100vh;
  background-color: #f8f9fa;
  
}
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}